.ice-toolbar { position: absolute; display: block; visibility: hidden; top: 0; left: 0; background: rgba(0,0,0,0.75); border-radius: 3px; transform: translateY(-6px); }
.ice-toolbar::after { content: ""; position: absolute; display: block; top: 100%; left: 50%; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid rgba(0,0,0,0.75); transform: translateX(-50%); }
.ice-toolbar.ice-toolbar-show { visibility: visible; }
.ice-toolbar ul { display: flex; margin: 0; padding: 0; list-style-type: none; }
.ice-toolbar ul li { flex: 1; margin: 0.25em; padding: 0; }
.ice-toolbar ul li:first-child { margin-left: 0.5em; }
.ice-toolbar ul li:last-child { margin-right: 0.5em; }
.ice-toolbar ul li a { display: block; width: 1.5em; height: 1.5em; line-height: 1.5em; color: #fff; font-weight: normal; text-decoration: none; text-align: center; outline: 0 none; }
.ice-toolbar ul li.separator { width: 0.25em; text-indent: -999px; overflow: hidden; }
