.ice-floatbar { position: absolute; display: block; visibility: hidden; top: 0; left: 0; z-index: 1000; font-family: Arial, Helvetica, sans-serif; }
.ice-floatbar::before,
.ice-floatbar::after { content: ""; display: block; width: 0; height: 0; margin: 0 auto; border: 4px solid transparent; visibility: hidden; }
.ice-floatbar::before { border-bottom-color: rgba(0,0,0,0.9); }
.ice-floatbar::after { border-top-color: rgba(0,0,0,0.9); }
.ice-floatbar ul { display: flex; margin: 0; padding: 1px; list-style-type: none; background: rgba(0,0,0,0.9); border-radius: 4px; }
.ice-floatbar ul li { flex: 1; margin: 1px; padding: 0; }
.ice-floatbar ul li.separator { width: 1px; margin: 0.375em 0; text-indent: -999px; overflow: hidden; background: rgba(255,255,255,0.9); }
.ice-floatbar ul li a { position: relative; display: block; width: 2em; height: 2em; line-height: 2em; color: #fff; font-weight: normal; text-decoration: none; text-align: center; outline: 0 none; background-color: transparent; }
.ice-floatbar ul li a[data-ice-status="true"] { background-color: rgba(128, 128, 128, 0.4); }
.ice-floatbar ul li a.font-name,
.ice-floatbar ul li a.font-size { width: 10em; margin: 0.33334em 0.5em; font-size: 0.75em; text-align: left; }
.ice-floatbar ul li a.font-size { width: 3em; }
.ice-floatbar ul li a.font-name::before,
.ice-floatbar ul li a.font-size::before { content: attr(data-ice-status); position: absolute; display: block; top: 0; right: 0; bottom: 0; left: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.ice-floatbar ul li a.font-name > span,
.ice-floatbar ul li a.font-size > span { display: none; }

.ice-floatbar.ice-floatbar-show { visibility: visible; }
.ice-floatbar.ice-floatbar-show.ice-floatbar-position-bottom::before,
.ice-floatbar.ice-floatbar-show.ice-floatbar-position-top::after { visibility: visible; }
