/* display and position */
.ice-floatbar { position: absolute; display: block; visibility: hidden; top: 0; left: 0; margin: 0; padding: 0.25em; z-index: 1000; font-family: Arial, Helvetica, sans-serif; background: rgba(0,0,0,0.9); color: #fafafa; border-radius: 0.25em; }
.ice-floatbar.ice-floatbar-show { visibility: visible; }
.ice-floatbar.ice-floatbar-position-bottom { transform: translateY(0.25em); }
.ice-floatbar.ice-floatbar-position-top { transform: translateY(-0.25em);  }
.ice-floatbar.ice-floatbar-position-bottom::after,
.ice-floatbar.ice-floatbar-position-top::after { content: ""; position: absolute; display: block; left: 50%; width: 0; height: 0; margin: 0 auto; border: 0.25em solid transparent; transform: translateX(-50%); }
.ice-floatbar.ice-floatbar-position-bottom::after { bottom: 100%; border-bottom-color: rgba(0,0,0,0.9); }
.ice-floatbar.ice-floatbar-position-top::after { top: 100%; border-top-color: rgba(0,0,0,0.9); }

/* reset */
.ice-floatbar article,
.ice-floatbar nav,
.ice-floatbar ul,
.ice-floatbar li,
.ice-floatbar p { display: block; margin: 0; padding: 0; }
.ice-floatbar ul { list-style-type: none; }
.ice-floatbar p { margin: 1em; font-size: 0.75em; }
.ice-floatbar a { color: inherit; font-weight: normal; text-decoration: none; }

/* flex list */
.ice-floatbar ul.ice-floatbar-flex { display: flex; margin: 0; padding: 1px; text-align: center; }
.ice-floatbar ul.ice-floatbar-flex li { flex: 1; margin: 1px; padding: 0; }
.ice-floatbar ul.ice-floatbar-flex a { display: block; height: 2em; line-height: 2em; outline: 0 none; }

/* main navigation */
.ice-floatbar .ice-floatbar-nav { display: block; margin: 0; padding: 0; }
.ice-floatbar .ice-floatbar-nav a { width: 2em; }

/* dropdown */
.ice-floatbar .ice-floatbar-dropdown { display: none; border-top: 1px solid #aaa; }
.ice-floatbar[data-ice-floatbar-view="font"] .ice-floatbar-dropdown.font,
.ice-floatbar[data-ice-floatbar-view="align"] .ice-floatbar-dropdown.align,
.ice-floatbar[data-ice-floatbar-view="link"] .ice-floatbar-dropdown.link,
.ice-floatbar[data-ice-floatbar-view="color"] .ice-floatbar-dropdown.color { display: block; }

/* highlights */
.ice-floatbar [data-ice-decoration="bold"][data-ice-status="true"],
.ice-floatbar [data-ice-decoration="italic"][data-ice-status="true"],
.ice-floatbar [data-ice-decoration="underline"][data-ice-status="true"],
.ice-floatbar [data-ice-decoration="strikeThrough"][data-ice-status="true"],
.ice-floatbar [data-ice-decoration="align"][data-ice-argument="left"][data-ice-status="left"],
.ice-floatbar [data-ice-decoration="align"][data-ice-argument="center"][data-ice-status="center"],
.ice-floatbar [data-ice-decoration="align"][data-ice-argument="right"][data-ice-status="right"],
.ice-floatbar [data-ice-decoration="align"][data-ice-argument="justify"][data-ice-status="justify"] { color: #478bfb; }
