.ice-editor { display: block; }
.ice-editor:focus { outline: 0 none; box-shadow: 0 0 1px 1px rgba(0,0,0,0.25); }
.ice-editor::before,
.ice-editor::after { content: " "; display: block; position: relative; height: 1px; margin-top: -1px; }
.ice-editor h1,
.ice-editor h2,
.ice-editor h3,
.ice-editor h4,
.ice-editor h5,
.ice-editor h6,
.ice-editor p,
.ice-editor pre,
.ice-editor blockquote { display: block; }
